@use "./variables" as *;
@use "./mixins" as *;

.bio {
    min-height: calc(100vh - 8rem);
    @include flex-center;

    &__container {
        gap: 7.4rem;
        align-items: center;
        height: 100%;
    }
    &__heading {
        @include font(7rem, $bold);
    }
    &__details {
        @include p-font;
        margin: 3rem 0 8rem;
    }

    &__name {
        @include font($w:$semi-bold);
    }

    &__social {
        color: $dark-blue;
        font-weight: $semi-bold;
    }
    &__links {
        @include flex($g:2rem);
    }
    &__link {
        @include font(2.4rem,$semi-bold);
        &--say-hi {
            background-color: var(--color-text);
            color: var(--color-background);
            padding: 0.7rem 4.7rem;
        }
        &--download {
            padding: 0.7rem 0;
        }
    }
    &__arrow {
        display: inline-block;
        animation: arrow-animation 1s infinite alternate ease-in-out;
    }
    &__avatar {
        width: 42.7rem;
    }
}

@keyframes arrow-animation {
    0% {
        transform: translateY(0.5rem);
    }
    35% {
        transform: translateY(-0.5rem);
    }
    70% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
