@use "./variables" as *;
@use "./mixins" as *;

.clients {
    &__carousel {
        @include flex(column, 3rem);
        overflow: hidden;
    }
    &__comments {
        @include flex($g:1rem);
        width: 100%;
        transition: transform 0.5s ease-in-out;
        animation: change-slide 12s infinite alternate;
    }
    &__comment {
        @include flex(column, 2rem);
        flex: 1 0 100%;
        padding: 2rem;
        border-radius: 2rem;
        &-heading {
            text-align: center;
            @include font(2.5rem,$bold);
            text-transform: uppercase;
        }

        &-body {
            @include p-font;
        }
        &:nth-of-type(1) {
            background-color: #92d1d94a;
        }
        &:nth-of-type(2) {
            background-color: #d992994a;
        }
        &:nth-of-type(3) {
            background-color: #c5d9924a;
        }
    }
    &__details {
        @include flex(null, 1rem, flex-end, center);
    }
    &__avatar {
        width: 60px;
    }
    &__bio {
        @include flex(column, 0.5rem);
    }
    &__name {
        font-weight: $semi-bold;
    }
    &__control {
        @include flex-center(1rem);
    }
    &__nav {
        width: 3rem;
        height: 0.75rem;
        display: inline-block;
        background-color: var(--color-dark-green);
        border-radius: 25px;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.3s;
        animation: 12s infinite alternate;
    }
}

@keyframes change-slide {
    0%,
    20% {
        transform: translateX(0);
    }
    40%,
    60% {
        transform: translateX(calc(-100% - 1rem));
    }
    80%,
    100% {
        transform: translateX(calc(-200% - 2rem));
    }
}

@include nav(nav1, 1, 0.5, 0.5);
@include nav(nav2, 0.5, 1, 0.5);
@include nav(nav3, 0.5, 0.5, 1);

#clients__nav1 {
    animation-name: nav1;
}
#clients__nav2 {
    animation-name: nav2;
}
#clients__nav3 {
    animation-name: nav3;
}

.clients__btn:checked ~ .clients__carousel .clients__comments,
.clients__btn:checked ~ .clients__carousel .clients__nav {
    animation: none;
}
.clients__nav:hover,
#clients__btn1:checked ~ .clients__carousel #clients__nav1,
#clients__btn2:checked ~ .clients__carousel #clients__nav2,
#clients__btn3:checked ~ .clients__carousel #clients__nav3 {
    opacity: 1;
}
#clients__btn1:checked ~ .clients__carousel .clients__comments {
    transform: translateX(0);
}
#clients__btn2:checked ~ .clients__carousel .clients__comments {
    transform: translateX(calc(-100% - 1rem));
}
#clients__btn3:checked ~ .clients__carousel .clients__comments {
    transform: translateX(calc(-200% - 2rem));
}
