@use "./variables" as *;
@use "./mixins" as *;

.contact {
    &__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        align-items: center;
    }
    &__method {
        @include flex(column, 2rem);
    }
    &__me {
        @include p-font;
    }
    &_email {
        @include font(1.8rem,$semi-bold);
        transition: $transition-timing;
        &:hover {
            color: var(--color-dark-green);
        }
    }
    &__socials {
        @include flex($g:1rem);
    }
    &__social {
        width: 25px;
        height: 25px;
        transition: $transition-timing;
        &:hover {
            transform: scale(1.2);
            & .contact__svg {
                fill: var(--color-dark-green);
            }
        }
    }
    &__svg {
        fill: $black;
        width: 100%;
        height: 100%;
        transition: $transition-timing;
    }
    &__form {
        @include flex(column, 1rem);
    }
    &__infos {
        @include flex($g:1rem);
    }
    &__input {
        flex: 1;
        padding: 1rem;
        background-color: #fff6;
        border-bottom: 1px solid var(--color-green);
        transition: $transition-timing;
        &:focus {
            border-bottom: 1px solid var(--color-dark-green);
        }
        &::placeholder {
            color: rgba(var(--color-text), 0.8);
        }
        &:focus::placeholder {
            visibility: hidden;
        }
    }
    &__textarea {
        @extend .contact__input;
        min-height: 13rem;
        resize: vertical;
    }
    &__sbmit {
        background-color: var(--color-green);
        padding: 1.5rem;
        @include font(2rem,$semi-bold);
        opacity: 0.8;
        transition: $transition-timing;
        &:hover {
            opacity: 1;
        }
    }
}
