@use "./variables" as *;
.footer {
    padding: 2rem 0;
}
.footer__content {
    text-align: center;
    font-weight: $medium;
}
.footer__name {
    color: var(--color-dark-green);
    font-weight: $bold;
}
