@use "./variables" as *;
.footer {
    padding: 2rem 0;
    &__content {
        text-align: center;
        font-weight: $medium;
    }
    &__name {
        color: var(--color-dark-green);
        font-weight: $bold;
    }
}
