@use "./variables" as *;

.footer {
    padding: 2rem 0;
    &__content {
        text-align: center;
        font-weight: $medium;
    }
    &__name {
        color: $white;
        font-weight: 700;
        background-color: #245053;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}
