@use "./variables" as *;
@use "./mixins" as *;

.projects__project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__cover {
    flex: 1;
    position: relative;
    border-radius: 4rem;
    overflow: hidden;
    transition: $transition-timing;
    aspect-ratio: 4/3;
}
.projects__cover:hover {
    transform: scale(1.05);
}
.projects__cover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    background-color: var(--color-green);
    opacity: 0.4;
    transition: $transition-timing;
}
.projects__cover:hover::before {
    opacity: 0;
}
.proects__image {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.projects__details {
    display: grid;
    gap: 1.5rem;
    padding: 3rem;
    background-color: var(--color-background);
    border-radius: 4rem;
    flex: 1;
    z-index: 1;
    transition: $transition-timing;
}
.projects__details:hover {
    transform: scale(1.05);
}
.projects__project:nth-of-type(odd) .projects__details {
    margin-inline-start: -150px;
}
.projects__project:nth-of-type(even) .projects__details {
    order: -1;
    margin-inline-end: -150px;
}
.projects__title {
    @include font(3.5rem,$semi-bold);
    transition: color $transition-timing;
}
.projects__details:hover .projects__title {
    color: var(--color-dark-green);
}
.projects__description {
    @include p-font;
}
.projects__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects__link {
    @include font(2rem,$medium);
    padding: 1rem 2.5rem;
    background-color: var(--color-green);
    border-radius: 1rem;
    cursor: pointer;
    transition: $transition-timing;
    opacity: 0.8;
}
.projects__link:hover {
    opacity: 1;
}
