@use "./variables" as *;
@media all and (max-width: 1024px) {
    html {
        font-size: 8px;
    }
}
@media all and (max-width: 800px) {
    .burger-menu {
        display: grid;
    }
    .navigation {
        /* display: none; */
        position: absolute;
        top: 100%;
        padding: 2rem;
        background-color: var(--color-background);
        width: 100%;
        inset-inline-start: 0;
        transform: translateY(-100%);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: $transition-timing;
    }
    .navigation__links {
        flex-direction: column;
    }
    .navigation__link {
        padding: 1rem;
        width: 100%;
        font-size: 2.5rem;
    }
    .header:has(.burger-menu__input:checked) .navigation {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .section {
        padding: 7rem 0;
    }
    .container--grid-2col {
        grid-template-columns: 1fr;
    }
    .bio__container {
        text-align: center;
    }
    .bio__image {
        grid-row: 1;
        display: flex;
        justify-content: center;
    }
    .bio__avatar {
        width: 75%;
    }
    .bio__links {
        justify-content: center;
    }
    .skills__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-heading--colspan2 {
        grid-column: span 1;
    }
    .projects__project {
        flex-direction: column;
    }
    .projects__project:nth-of-type(odd) .projects__details {
        margin-inline-start: 0;
    }
    .projects__project:nth-of-type(even) .projects__details {
        margin-inline-end: 0;
        order: 0;
    }
    .projects__details {
        margin-top: -150px;
        width: 90%;
    }
}
@media all and (max-width: 500px) {
    .skills__item {
        flex-direction: column;
    }
    .skills__content {
        text-align: center;
    }
    .skills__icon {
        order: -1;
    }
    .contact__infos {
        flex-direction: column;
    }
}
@media all and (max-width: 450px) {
    .skills__list {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .skills__item {
        flex-direction: row;
    }
    .skills__icon {
        order: 0;
    }
    .skills__content {
        text-align: start;
    }
}
