@use "./variables" as *;
@use "./mixins" as *;

.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 5rem;
}
.skills__item {
    @include flex($g:1rem, $jus-c:space-between);
    padding: 20px;
    background-color: #b9b9b94a;
    border-radius: 1.5rem;
    transition: $transition-timing;
    user-select: none;
}

.skills__item:hover {
    background: var(--color-green);
}
.skills__title {
    @include font(3.8rem, $semi-bold);
}
.skills__expertience {
    display: inline-block;
    @include font(2rem);
}
.skills__icon {
    @include flex-center;
}
.skills__svg {
    width: 55px;
    height: 55px;
}
