// Color Variables

$black: #000;
$white: #fff;
$light-blue: #1d9bf0;
$dark-blue: #0a66c2;

// Size Variables
$container-width: 119rem;
$gutter: 2rem;
$transition-timing: 0.3s;

// Font Families
$poppins: "Poppins", sans-serif;

// Font Weights
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;

// Color For Dark and Light Mods
:root {
    --color-text: #000;
    --color-background: #fff;
    --color-input-border: #000;
    --color-green: #92d1d9;
    --color-gray: #f6f6f6;
    --color-dark-green: #42959b;
}
html:has(.toggle__input:checked) {
    --color-text: #fff;
    --color-background: #000;
    --color-gray: #080808;
    --color-input-border: #fff;
    --color-green: var(--color-dark-green);
}
