/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

ul, ol {
    list-style: none;
}

/* End Reset CSS */

/* Variables */
html {
    font-size: 10px;
}

:root {

    --container-width: 119rem;
    --gutter: 2rem;

    --color-black: #000;
    --color-white: #fff;
    --color-blue: #2374e1;
    --color-light-blue: #1d9bf0;
    --color-dark-blue: #0a66c2;
    --color-darker-blue: #143ce8;
    --color-red: #ff0000;
    --color-green: #03a696;
    --color-gray: #f6f6d6;
    --color-dark-green: #42959b;

    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-box-img: var(--color-black);
    --color-link-bg: var(--color-black);
    --color-input-border: var(--color-black);

    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --font-size-70: 7rem;
    --font-size-65: 6.5rem;
    --font-size-40: 4rem;
    --font-size-38: 3.8rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-20: 2rem;
    --font-size-18: 1.8rem;
    --font-size-15: 1.5rem;

    --transition-timing: 0.3s;
}

/* End Variables */

body {
    font-size: 1.6rem;
    font-family: var(--font-family-raleway);
    background-color: var(--color-background);
    color: var(--color-text);
}
.container {
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
}

/* Global Styles */

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
}

/* End Global Styles */

/* Header Style */

.header {
    padding: 3rem 0;
    font-weight: var(--font-weight-medium);
    position: relative;
    border-bottom: 0.1rem solid var(--color-input-border);
}

.navigation__links {
    display: flex;
    gap: 2rem;
}

.navigation__link:hover, .navigation__link:active {
    text-decoration: underline;
}

/* Start Toggle */

.toggle {
    display: flex;
    gap: 1rem;
}

.toggle__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
}

.toggle__input {
    display: none;
}

.toggle__label {
    width: 4.5rem;
    height: 2.2rem;
    background-color: var(--color-black);
    transition: .3s;
    border-radius: 1.5rem;
    position: relative;
    display: block;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
}

.toggle__label::after {
    content: "";
    background-color: var(--color-white);
    border-radius: 50%;
    transition: .3s;
    width: 1.6rem;
    height: 1.6rem;
    display: block;
}

.toggle__input:checked + .toggle__label {
    background-color: var(--color-white);
}

.toggle__input:checked + .toggle__label::after {
    background-color: var(--color-black);
    transform: translateX(2.1rem);
}

/* End Toggle */

/* End Header Style */

/* Start Bio Section Style */

.bio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 7.4rem;
}

.bio__heading {
    font-size: var(--font-size-70);
    font-weight: var(--font-weight-bold);
}

.bio__details {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-20);
    margin: 3rem 0 8rem;
}

.bio__name {
    font-weight: var(--font-weight-semi-bold);
}

.bio__facebook {
    color: var(--color-dark-blue);
}

.bio__twitter {
    color: var(--color-light-blue);
}

.bio__linkedin {
    color: var(--color-dark-blue);
}

.bio__telegram {
    color: var(--color-dark-blue);
}

.bio__link {
    font-size: 2.4rem;
    font-weight: var(--font-weight-semi-bold);
}

.bio__link--say-hi {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.7rem 4.7rem;
}

.bio__link--download {
    padding: 0.7rem 0;
}

/* Animation Arrow */

@keyframes arrow-animation {
    0% {
        transform: translateY(0.5rem);
    }
    35% {
        transform: translateY(-0.5rem);
    }
    70% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.bio_arrow {
    display: inline-block;
    animation: arrow-animation 1s infinite alternate ease-in-out;
}

/* End Bio Section Style */